.btn {
  height: 48px;
  line-height: 18px;
  border-radius: 2px;
  font-size: 14px;
  padding: 0 24px;
  border: 1px solid #fa6a00;
  cursor: pointer;
  min-width: 168px;
  white-space: nowrap;
  &-primary {
    color: white;
    background-color: #fa6a00;
  }

  &-secondary {
    color: #fa6a00;
    border-color: #fa6a00;
    background-color: transparent;
  }
  &-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    img {
      margin-right: 8px;
    }
    span {
      color: inherit;
    }
    @media screen and (max-width: 1024px) {
      min-width: unset;
      span {
        display: none;
      }
      img {
        margin: 0;
      }
    }
  }
}
