.card {
  background-color: white;
  border: 1px #ccc solid;
  border-radius: 2px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  &-header {
    padding: 0.75rem 1.25rem;
    border-bottom: 1px solid #ccc;
  }
  &-title {
    margin: 8px 0;
  }
  &-body {
    padding: 1.25rem;
  }
}