.flex {
  display: flex;
  &-column {
    flex-direction: column;
  }
}

.justify {
  &-center {
    justify-content: center;
  }
  &-start {
    justify-content: flex-start;
  }
  &-end {
    justify-content: flex-end;
  }
  &-between {
    justify-content: space-between;
  }
  &-around {
    justify-content: space-around;
  }
}

.align {
  &-center {
    align-items: center;
  }
  &-start {
    align-items: flex-start;
  }
  &-end {
    align-items: flex-end;
  }
}

.text-medium {
  color: #969696 !important;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}