input {
  &[type="text"] {
    width: 100%;
    box-sizing: border-box;
    height: 48px;
    font-size: 14px;
    line-height: 18px;
    padding: 0 8px;
    border-radius: 2px;
    background-color: #f9f9f9;
    border: 1px solid #e9e9e9;
    margin-bottom: 24px;
    &.input-icon {
      padding-left: 35px;
      &.search {
        background-image: url('assets/img/icons/search.svg');
        background-repeat: no-repeat;
        background-position: 6px center;
      }
    }
  }
}

select {
  width: 100%;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  height: 48px;
  font-size: 14px;
  line-height: 18px;
  padding: 0 26px 0 8px;
  border-radius: 2px !important;
  background-color: #f9f9f9;
  border: 1px solid #e9e9e9;
  margin-bottom: 24px;
  background-image: url("assets/img/icons/arrow.svg");
  background-position: calc(100% - 7px) center;
  background-repeat: no-repeat;
  &::after {
    content: "x";
    display: block;
    height: 10px;
    width: 10px;
    position: absolute;
    left: 0;
  }
}
