.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  thead {
    tr {
      border-width: 2px;
    }
    th {
      text-align: inherit;
      padding: 0.75rem;
    }
  }
  tbody {
    tr {
      &:hover {
        background-color: #f1f1f1;
        td .actions {
          visibility: visible;
        }
      }
      td {
        padding: 0.75rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 120px;
        .actions {
          visibility: hidden;
          img {
            margin: 0 8px;
            cursor: pointer;
          }
        }
        .avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          overflow: hidden;
          img {
            object-fit: cover;
          }
        }
      }
    }
  }
  tr {
    border-bottom: 1px solid #ccc;
  }
  &-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}