.action-bar {
  button {
    margin: 0 8px;
  }
}
.image-container {
  margin-bottom: 24px;
  .image-uploader {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 24px 0 0;
    .user-image {
      max-width: 100%;
    }
  }
}
.active-toggle {
  cursor: pointer;
}

.modal-toggle-container {
  height: 48px;
  margin-bottom: 24px;
  p {
    margin: 0;
  }
  img {
    margin: 0 8px;
    cursor: pointer;
  }
}

.filters-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .search-container {
    input {
      margin: 0 8px 0 0;
      min-width: 300px;
    }
  }
  .filter-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    > * {
      margin: 0 8px 0 0;
    }
    select {
      min-width: 130px;
    }
    .view-toggle-container {
      height: 48px;
      display: flex;
      img {
        margin: 0 8px;
      }
    }
  }
}