<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="card-body">
        <div class="flex justify-between align-center w-100">
          <div>
            <h4>Usuarios</h4>
            <p class="text-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
          <div class="action-bar">
            <button class="btn btn-primary btn-icon">
              <img src="assets/img/icons/eye.svg" alt="">
              <span>Previsualizar</span>
            </button>
            <button class="btn btn-secondary btn-icon" (click)="openModal('modal')">
              <img src="assets/img/icons/add.svg" alt="">
              <span>Agregar nuevo usuario</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="filters-bar">
        <div class="search-container">
          <input type="text" name="" id="" placeholder="Buscar" class="input-icon search">
        </div>
        <div class="filter-actions">
          <select name="" id="">
            <option value="" selected>8 por página</option>
          </select>
          <select name="" id="">
            <option value="" selected>Ordenar de A-Z</option>
          </select>
          <select name="" id="">
            <option value="" selected>Todos</option>
          </select>
          <img src="assets/img/icons/list.svg" alt="">
          <img src="assets/img/icons/square.svg" alt="">
        </div>
      </div>
    </div>
    <div class="card-content">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Correo</th>
                <th>Rol</th>
                <th colspan="2">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users; let index = index">
                <td><img src="assets/img/icons/icon-drag.svg" alt=""></td>
                <td>
                  <div class="avatar">
                    <img [src]="user.picture" alt="">
                  </div>
                </td>
                <td>{{user.name}}</td>
                <td>{{user.fathersLastName}}</td>
                <td>{{user.mothersLastName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.role}}</td>
                <td>
                  <img class="active-toggle" *ngIf="!user.active" (click)="onActiveToggle(index)" src="assets/img/icons/toggle_off.svg" alt="">
                  <img class="active-toggle" *ngIf="user.active" (click)="onActiveToggle(index)" src="assets/img/icons/toggle_on.svg" alt="">
                </td>
                <td>
                  <div class="actions">
                    <img (click)="onUserDelete(index)" src="assets/img/icons/trash.svg" alt="">
                    <img (click)="onUserEdit(user, index)" src="assets/img/icons/edit.svg" alt="">
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<jw-modal id="modal">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-12">
        <h4>Agregar nuevo usuario</h4>
        <hr>
      </div>
      <div class="col-12">
        <h5>Foto de perfil</h5>
      </div>
      <div class="col-12">
        <div class="flex justify-start align-center image-container">
          <div class="image-uploader">
            <img src="assets/img/icons/user.svg" class="placeholder" *ngIf="userForm.get('picture').value == ''"
              alt="user">
            <img *ngIf="userForm.get('picture').value != ''" [src]="userForm.get('picture').value" class="user-image"
              alt="user">
          </div>
          <div>
            <p class="text-medium">JPG, PNG | Tamaño mínimo de 300px × 300px</p>
            <button class="btn btn-primary" type="button" (click)="file.click()">
              {{ userForm.get('picture').value == '' ? 'Subir foto' : 'Cambiar foto'}}
            </button>
            <input class="import-input" type="file" (change)="loadNewProfilePicture($event)" #file hidden>
          </div>
        </div>
      </div>
      <div class="col-12">
        <h5>Información básica</h5>
      </div>
      <div class="col-6">
        <input type="text" placeholder="Nombre" formControlName="name">
      </div>
      <div class="col-6">
        <input type="text" placeholder="Apellido Paterno" formControlName="fathersLastName">
      </div>
      <div class="col-6">
        <input type="text" placeholder="Apellido Materno" formControlName="mothersLastName">
      </div>
      <div class="col-6">
        <input type="text" placeholder="Correo electrónico" formControlName="email">
      </div>
      <div class="col-6">
        <select formControlName="roleId">
          <option value="" selected disabled>Rol</option>
          <option [value]="role.id" *ngFor="let role of roles">{{role.position}}</option>
        </select>
      </div>
      <div class="col-6">
        <div class="flex justify-center align-center modal-toggle-container">
          <p>Inactivo</p>
          <img *ngIf="userForm.get('active').value" src="assets/img/icons/toggle_on.svg" (click)="activeCheckbox.click()" alt="">
          <img *ngIf="!userForm.get('active').value" src="assets/img/icons/toggle_off.svg" (click)="activeCheckbox.click()" alt="">
          <p>Activo</p>
        </div>
        <input type="checkbox" formControlName="active" id="active" hidden #activeCheckbox>
      </div>
    </div>
    <div class="flex justify-end align-center">
      <button class="btn btn-secondary no-border" type="button" (click)="closeModal('modal');">Cancelar</button>
      <button class="btn btn-primary" type="submit">Guardar usuario</button>
    </div>
  </form>
</jw-modal>