/* MODAL STYLES
-------------------------------*/
jw-modal {
  /* modals are hidden by default */
  display: none;

  .jw-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow: auto;

    &-body {
      padding: 20px;
      background: #fff;
      margin: 50px auto;
      max-width: 550px;
    }

    &-background {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #000;
      opacity: 0.75;
      z-index: 900;
    }
  }

}

body.jw-modal-open {
  overflow: hidden;
}
